<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body ng-app="allOrder2App">
	<!--搜索栏-->
	<nav class="navbar navbar-default">
		<span class="navbar-brand">已完成理订单</span>

		<form class="navbar-form navbar-right">
			<div class="form-group">
				<select class="form-control" ng-model="qureyType"
					ng-options="m.name for m in selectItems">
				</select>

			</div>
			<div class="input-group search_group">
				<input type="text" class="form-control" placeholder="请输入搜索的信息"
					ng-model='queryText'> <span class="input-group-btn">
					<button class="btn btn-default" type="button"
						ng-click='pageChanged()'>搜索</button>

				</span>
			</div>
			<!-- /input-group -->

		</form>
	</nav>

	<div>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<!-- <th>订单时间</th> -->
						<th>用户账号</th>
						<th>用户姓名</th>
						<th>用户电话</th>
						<th>用户地址</th>
						<th>购买总额</th>
						<th>备注</th>
						<th><span class="cz">操作</span></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in orderMini">
						<!-- <td><span ng-bind="x.strTime"></span></td>  -->
						<td><span ng-bind="x.username"></span></td>
						<td><span ng-bind="x.name"></span></td>
						<td><span ng-bind="x.tel"></span></td>
						<td><span ng-bind="x.address"></span></td>
						<td><span ng-bind="x.money"></span></td>
						<td><span ng-bind="x.note"></span></td>
						<td><span>
								<button type="button" class="btn btn-warning btn-sm"
									ng-click="openXD($index)">查看详情</button>
						</span></td>
					</tr>
				</tbody>
			</table>
			<div class="text-right" style="margin-right:40px;">
				<uib-pagination boundary-links="true" items-per-page="pageSize"
					ng-change="pageChanged()" total-items="totalItems"
					num-pages="pages" max-size="maxSize" ng-model="currentPage"
					class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
					first-text="&laquo;" last-text="&raquo;"> </uib-pagination>
			</div>
		</div>
	</div>



	<!--fixmodal-->
	<div class="modal fade" id="fixModal" style="margin-top: 5%;">
		<div class="modal-dialog" style="width:700px;">
			<div class="modal-content">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>订单时间</th>
							<th>商品名</th>
							<th>商品价格</th>
							<th>商品数量</th>
							<th>商品总价</th>
							<th>图片</th>

						</tr>
					</thead>
					<tbody id="fix">
						<tr ng-repeat="x in order">
							<td><span ng-bind="x.strTime"
								style="height: 60px;line-height: 60px"></span></td>
							<td><span ng-bind="x.goodsName"
								style="height: 60px;line-height: 60px"></span></td>
							<td><span ng-bind="x.price"
								style="height: 60px;line-height: 60px"></span></td>
							<td><span ng-bind="x.number"
								style="height: 60px;line-height: 60px"></span></td>
							<td><span style="height: 60px;line-height: 60px">{{x.number*x.price}}</span></td>
							<td><img src="{{x.url}}" style="width:40px;height:60px"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

</body>
</html>
