<!DOCTYPE html>
<html>
<head>

</head>
<body ng-app="passwordRecoveryApp">

<div class="container qz_content">				
	<div class="row">
		<form class="form-horizontal">	
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			</div>
				
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  register_box" style="margin-bottom: 260px;">
				<h3 class="qu_title" style="background: #fff;">密码找回</h3>				
								
				<div style="width:100%; height: 30px;"></div>
				<div class="form-group">
				    <label for="inputPassword3" class="col-sm-3 control-label">邮箱(帐号)</label>
				    <div class="col-sm-9">
				      <input type="text" class="form-control" id="inputPassword3" ng-model="items.username" />
				    </div>
				</div>
				
				<div style="width:100%; height: 30px;"></div>
	  
			    <input ng-click="subNew()" type="button" class="btn btn-info btn-lg" style="width:100%;" value="找回密码" />
			    <div style="width:100%; height: 40px; line-height: 40px; color:red;">
			    	<span ng-bind="tsText"></span>
			    </div>
			</div>	
			
		</form>
	</div>
</div>



</body>
</html>
