<!DOCTYPE html>
<html>
<head>

</head>
<body ng-app="passwordRecoveryApp">

<div class="container qz_content">				
	<div class="row">
		<form class="form-horizontal">	
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			</div>
				
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  register_box" style="margin-bottom: 260px;">
				<h3 class="qu_title" style="background: #fff;">密码找回</h3>				
								
				<div style="width:100%; height: 30px;"></div>
				<div class="recoveryed">密码已发送至您的邮箱，请登录邮箱查看</div>
				
				<div style="width:100%; height: 30px;"></div>
	  
			    <input ui-sref="home" type="button" class="btn btn-info btn-lg" style="width:100%;" value="返回首页"/>
			    <div style="width:100%; height: 40px; line-height: 40px; color:red;">
			    </div>
			</div>	
			
		</form>
	</div>
</div>



</body>
</html>
