<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
<title>vueJs.html</title>

<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="static/js/lib/vue.js"></script>
	<script type="text/javascript" src="static/js/lib/jquery/jquery-2.2.0.min.js" ></script>
<!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

</head>

<body>
	<div id="test">
		<form>
			姓名：<input v-model="student.name" /> <br /> 年龄：<input
				v-model="student.age" /> <br />
		</form>
		<button v-on:click="test(student)">测试</button>
		<br> name:<span>{{student.name}}</span><br> 
		age:<span>{{student.age}}</span><br>
		success:<span>{{parent.success}}</span><br>
		test:<span>{{isTest}}</span><br>
		age2:<button v-bind:href="student.name">baidu</button>
	</div>
	<br>
	<div id="test2">
		动态绑定：<input v-model="mess1">
		<br><span>{{mess1}}</span>
	</div>
	<br>
	<div id="test3">
		循环输出结果:
		<br>
		<button v-on:click="getStudent()">点击获取学生信息</button>
		<br>
		<span>
		{{students}}
		</span>
		<li v-for="student in students">
			 姓名：{{student.name}} 
			  年龄：{{student.age}} 
			   性别：{{student.sex}} 
		</li>
	</div>

</body>
<script>
	
	Vue.config.debug = true;//开启vue的debug模式
	var vm = new Vue({
		el:"#test",
		data : {
			student : {},
			parent:{},
			isTest:'测试'
			
			
		},
		methods : {
			test : function(student) {
				console.log("点击了测试");
				 $.ajax({
					type : "post",
					url : "testC/test",
					data : JSON.stringify(student),
					datatype : 'json',
					contentType:"application/json",
					success : function(data) {
						
						vm.parent = data;
						vm.isTest = data.success;
						//console.log(vm.parent.success);
						//console.log(vm.isTest);
					},
					error : function() {
						alert("请求失败");
					}
				});  
			}
		}
	});
	
	
	
	var test2 = new Vue({
		el:'#test2',
		data:{
			mess1:''
		}
	})
	
	
	var test3 = new Vue({
		el:'#test3',
		data:{
			students:{}
		},
		methods:{
			getStudent : function(){
				$.ajax({
					type : "post",
					url : "testC/test2",
					//data : JSON.stringify(student),
					datatype : 'json',
					contentType:"application/json",
					success : function(data) {
						console.log(data);
						test3.students = data.students;
						console.log(test3.students);
						test2.mess1 = test3.students[0].name;
						//console.log(vm.parent.success);
						//console.log(vm.isTest);
					},
					error : function() {
						alert("请求失败");
					}
				});  
			}
		}
	})
</script>


</html>